.App {
  text-align: center;
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form_wa {
  /* width: auto; */
  max-width: 500px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: white;
  border-radius: 8px;
}

.form_wa input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
}

.form_wa label {
  color: #282c34;
}

.form_wa textarea {
  width: 100%;
  height: 150px;
  padding: 8px;
  font-family: inherit;
}

.form_wa button {
  width: 100%;
  height: 40px;
  background-color: chartreuse;
  color: #282c34;
  outline: none;
  border: none;
  font-weight: 800;
}

@media only screen and (max-width: 500px) {
  .form_wa {
    width: 80%;
    /* max-width: 500px; */
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 100px;
  }
}
